body {
    background-color: hsla(32, 71%, 75%, 0.258);
    font-family: fantasy;}

#header {
    border: 1px solid;
    border-radius: 10px;
    color: white;
    background-color: hsla(240, 50%, 68%, 0.588);
    margin-bottom: 50px;
    box-shadow: 5px 5px hsla(120, 100%, 25%, 0.826) ; 
}

#head{
margin-left: 20px;
color: #ffffff;
}

#main-nav {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid hsla(120, 100%, 25%, 0.826);
    background-color: hsla(0, 74%, 49%, 0.414);
    padding: 5px;
    margin: 20px 20px 60px;
}

#main-nav li:hover {
        background-color: rgba(152, 152, 152, 0.569);
}

#main-nav li {
    display: inline-block;
    position: relative;
}

#main-nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-around; 
    align-items: center;
}

.info-box {
    width: 25%; 
    padding: 70px; 
    background-color: #927979;
    margin: 10px;
    text-align:center;
    color: white;
    border-radius: 20px;
}

.content img {
    width: 400px; 
    height: 420px;
    border-radius: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}



